<!DOCTYPE html>
<html>
    <head>
        <!-- meta data -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <!-- titulo -->
        <title>gazeta frontend - scroll test</title>
        <!-- estilos  -->
        <link rel="stylesheet/less" type="text/css" href="css/scrolltest.less">
        <!-- javascript - Libs -->
        <script type="text/javascript" src="js/less.min.js" ></script>
        <script type="text/javascript" src="js/jquery-3.1.1.min.js" ></script>
        <script type="text/javascript" src="js/vue.min.js" ></script>
    </head>

    <body>    

        <nav class="fixed-nav-bar">
            <!-- barra de navegação fixada -->
            <div class="center"> <div class="center nav-title">GAZETA - SCROLL</div></div>
        </nav>
        
        <div id="app_gazeta">
            <div id="news" class="center news-padding" >            

                <!-- template do componente 'gazeta-news-component' -->
                <template id="template-gazeta-news" class="center news">
                    <article>
                        <!-- url -->
                        <a href="{{ new.url }}" class="clearfix floating">
                            <figure>
                                <!-- dominantthumbnail -->
                                <img src="{{ new.pic }}" class="image-news" /> 
                            </figure> 
                            <!-- title -->
                            <div class="title-news"><b>{{ new.title }}</b></div> 
                            <!-- createtime e ConvertDate(createtime) -->
                            <div class="date-news"><time datetime="{{ new.real_date }}"><em>{{ new.date }}</em></time></div> 
                            <!-- description -->
                            <div class="desc-news">{{ new.desc }}</div> 
                        </a>
                        
                        <!-- separador -->
                        <hr class="hr">
                    </article>
                </template>
                <!-- fim do template 'gazeta-news-component' -->

                <!-- usando o VueJS para repetir o componente 'gazeta-news-component', para mostrar todas as notícias -->
                <gazeta-news-component class="center news" v-for="new in news" :new="new"></gazeta-news-component>
                
            </div>
            
            <!-- imagem de loading, usando o VueJS para controlar a visibilidade -->
            <footer><div class="center" id="loading" v-if="loading"> <div class="center loading"><img  src="img/loading.gif"/></div></div></footer>
        </div>

        <!-- javascript - Main -->
        <script type="text/javascript" src="js/gazeta.min.js" ></script>
    </body>

</html>